*{
    margin: 0px;
    padding: 0px
    
}

body{
    background-color:gray;
}
header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: lightcoral;
    border: 5px solid;
}
 
header nav{
    display: flex;
    align-items: center;
    justify-content:flex-end;
}


header img{
    display: inline-block;
    height:200px;
    width:145px;
    border-radius: 50%;
}


header nav a {
    margin-left: 6px;
    margin-right: 6px;
    text-decoration: none;
    color:black;
    
}

section {
    padding: 20px;
    display: flex;
}

section h2 {
    width: 20%;
}

.box{
    border: 1px solid black;
    background-color: lightcoral;
    min-width: 30px;
    min-height: 30px;
}

#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-project-1{
    width: 100%;
    min-height: 200px;
}

.box-project-2,
.box-project-3{
    width:49%;
    min-height: 50px;
}

    