*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:white;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: gray;
    padding:10px
}
.header-content{
    display: flex;
    align-items:flex-end;

}

.header-content img{
    width: 100px;
    padding: 5px;
    margin-right: 5px;
}

.header-nav ul{
    display: flex;
}

.header-nav li {
   list-style: none;
   margin: 10px
}

.section-box {
    display: flex;
    margin: 50px;
    padding: 10px;
}

.section-title{
    background-color: white;
    border-right: 2px solid darkblue;
    padding-right: 10px;
}

.section-content{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
   
}
    
.image-1{
    margin-bottom: 50px;
}


.image-1 img{
    width: 100%;
}

