*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:white;
}
/* header styling*/
.header{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: darkblue;
    color: white;
    padding:10px
}
.header-content{
    display: flex;
    align-items:flex-end;

}

.header-content img{
    width: 100px;
    padding: 5px;
    margin-right: 5px;
}

.header-nav ul{
    display: flex;
}

.header-nav li {
   list-style: none;
   margin: 10px;
   color: white;
}

.header-nav li a{
    color:white;
    text-decoration: none;
}

/* section styling */
.section-box {
    display: flex;
    margin: 50px;
    padding: 10px;
}

.section-title{
    background-color: white;
    border-right: 2px solid darkblue;
    padding-right: 10px;
}

.section-content{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    
   
}
    /*image styling  */
.image-1{
    margin-bottom: 50px;
}


.image-1 img{
    width: 100%;
   
}

.image-23 img{
    width: 350px;
    height: 300px;
   

}

.image-23{
    display: flex;
    justify-content:space-around
}

/* anything above this is for mobile */
/* responsive styling */
@media screen and (min-width: 560px) {
    .header{
        background-color: blueviolet;
    }

  
}
